{% extends 'base.html' %}
{% load static %}
{% block title %} Analyse topics from twitter {% endblock %}

{% block body %}
    {% verbatim %}


    <div class="" ng-app="analyse" ng-controller="Controller">
        <div class="overlay col-12">
            <button class="btn btn-sm btn-amber" onclick="javascript:$('.overlay').slideUp('fast')">Close</button>
            <div id="grid1" ui-grid="tweetGridOptions" class="grid col-6 col-md-offset-4"></div>
        </div>
        <div class="col-4 py-md-4 offset-md-4">
            <div class="wrapper">
                <div class="md-form">
                    <input ng-class="{'no-border': status}" ng-keyup="$event.keyCode == 13 ? generate() : null" ng-model="q" placeholder="Search term"
                           type="text" class="form-control" id="q">
                </div>
                <div class="col-12 loader" ng-if="status" >
                    <div class="progress" style="height: 2px;border-radius: 0">
                        <div class="progress-bar" role="progressbar" style="width: {{ status.progress }}%; height: 10px"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="mono-text">{{ status.label }}</label>
                </div>

            </div>
            <div>
                <div style="text-align: right">
                    <button style="background-color: #018596 !important;" class="btn btn-cyan" ng-click="generate()">
                        analyse
                    </button>
                </div>
            </div>
        </div>


        <div class="row" style="margin-right:0" ng-show="result">
            <div class="col-6">
                <img src="{{ result.wordcloud }}" width="100%">
            </div>
            <div class="col-6">
                <div class="chart">
                    <canvas id="canvas"></canvas>
                    <small style="float: right" class="mono-text">*Based on recent {{ result.count }} public
                        <a href="javascript:$('.overlay').slideDown()" data-toggle="modal"
                           data-target="#centralModalFluid">tweets</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:0; transition: all 1s ease">
            {% endverbatim %}
            <div class="col-12" ng-if="!trends">
                <div class="col-12" style="text-align: center">
                    <img src="{% static "images/loading.gif" %}" width="150px" height="150px">
                </div>
                <div class="col-12" style="text-align: center"><span>Loading trends</span></div>
            </div>
            {% verbatim %}
            <div class="col-12 py-md-4 trends" style="text-align: center" ng-if="trends">
                <h1>Trends</h1>
                <button type="button" class="btn btn-teal btn-sm btn-tag"
                        ng-click="generate(trend)" ng-repeat="trend in trends">{{ trend }}
                </button>
            </div>
        </div>


    </div>



    {% endverbatim %}
{% endblock %}